/* 网页首页样式 */
.wrapper {
    margin: 0 auto;
    width: 1200px; 
}

body {
    background-color: #f3f5f7;
}

.head{
    height: 100px;
    background-color: #fff;
}

.head .wrapper {
    padding-top: 29px;
    display: flex;
}

.logo a{
    display: block;
    width: 195px;
    height: 41px;
    background-image: url(../images/logo.png);
    font-size: 0;
}

.navig {
    margin-left: 102px;
}

.navig ul {
    display: flex;
    /* background-color: pink;    */
}

.navig li {
    margin-right: 24px;
}

.navig li a {
    display: block;
    padding: 6px 8px;
    line-height: 27px;
    font-size: 19px;
}

.navig li .active,
.navig li a:hover {
    border-bottom: 2px solid #00a4ff;
}

.sear {
    margin-left: 64px;
    padding-left: 19px;
    padding-right: 12px;
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
}

.sear {
    display: flex;
}

.sear input {
    flex: 1;
    border: 0;
    background-color: transparent;
    outline: none;
}

.sear input::placeholder {
    font-size: 14px;
    color: #999;
}

.sear a {
    width: 16px;
    height: 16px;
    align-self: center;
    background-image: url(../images/search.png);
}

.user {
    margin-left: 32px;
    margin-top: 4px;
}

.user img {
    margin-right: 7px;
    vertical-align: middle;
}

.user span {
    font-size: 16px;
    color: #666;
}

.banner {
    height: 420px;
    background-color: #0092cb;
}

.banner .wrapper {
    display: flex;
    justify-content: space-between;
    height: 420px;
    background-image: url(../uploads/banner.png);
}

.banner .left {
    padding: 3px 20px;
    width: 191px;
    height: 420px;
    background-color: rgba(0,0,0,0.42);
}

.banner .left a {
    display: block;
    height: 46px;
    background-image: url(../images/right.png);
    background-repeat: no-repeat;
    background-position: right center;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
}

.banner .left a:hover {
    background-image: url(../images/right-hover.png);
    color: #00a4ff;
}

.banner .right {
    margin-top: 60px;
    width: 218px;
    height: 305px;
    background-color: #209dd5;
    border-radius: 10px;
}

.banner .right h3 {
    margin-left: 14px;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}

.banner .right .content {
    padding: 14px;
    height: 257px;
    background-color: #fff;
    border-radius: 10px;
}

.banner .right dl {
    margin-bottom: 8px;
    border-bottom: 1px solid #e0e0e0;
}

.banner .right dt {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

.banner .right dd {
    margin-bottom: 8px;
}

.banner .right dd span {
    font-size: 12px;
    line-height: 16px;
    color: #00a4ff;
}

.banner .right dd strong {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #7d7d7d;
}

.banner .right .content a { 
    display: block;
    width: 190px;
    height: 32px;
    background-color: #00a4ff;
    border-radius: 15px;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    font-weight: 700;
    color: #fff;
}

.command {
    margin-top: 11px;
    padding: 0 20px;
    display: flex;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(211, 211, 211, 0.5);
    line-height: 60px;
}

.command h3 {
    font-size: 18px;
    font-weight: 400;
    color: #00a4ff;
}

.command ul {
    display: flex;
    flex: 1;

}

.command ul li a:first-child {
    padding-left: 20px;
}

.command ul li a {
    padding: 0 24px;
    border-right: 1px solid #e0e0e0;
    font-size: 18px;
}

.command ul li:last-child a {
    border-right: 0;
}

.command .modify {
    font-size: 16px;
    color: #00a4ff;
}

.course {
    margin-top: 15px;
}

.hd {
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
    /* background-color: rgb(162, 189, 222); */
}

.hd h3{
    font-size: 21px;
    font-weight: 400;
}

.hd .more {
    padding-right: 20px;
    background-image: url(../images/more.png);
    background-repeat: no-repeat;
    background-position: right center;
    font-size: 14px;
    color: #999;    
}


.bd ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bd li {
    margin-bottom: 14px;
    width: 228px;
    height: 271px;
}

.bd li .pic {
    height: 156px;
}

.bd li .text {
    padding: 20px 20px 22px 20px;
    height: 115px;
    background-color: #fff;
}

.bd li .text h4 {
    margin-bottom: 13px;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.bd li .text p {
    font-size: 14px;
    line-height: 20px;
    color: #999;
}

.bd li .text p span {
    color: #fa6400;
}

.bd li .text p i {
    font-style: normal;
}
 
.hd ul {
    display: flex;
}

.hd li {
    margin-right: 60px;
    font-size: 16px;
}

.hd li .active {
    color: #00a4ff;
}             

.bd .left {
    height: 386px;
    margin-right: 15px;
}

.bd {
    display: flex;
}

.bd .right .up {
    margin-bottom: 15px;
} 

